html { font-size: 100%; /*background-color: yellow;*/ } /*which browsers don't have this as 16px by default?*/

#RuLearning {
    font-size: 10vw;
    text-align: center;
    font-family: 'Stalinist One', cursive;
    padding: 0;
    margin: 0;
    line-height: 0.55;
}

button .btn .btn-default {
    background-color: orange;
    color: dodgerblue;
    font-weight: bold;
}

#frst-btn {
    margin-top: 30px;
    padding: 20px 30px;
    font-size: 2rem;
    color: #E30909;
    background-color: gold;
    font-family: 'Permanent Marker', cursive;
}

#three-btns #scnd-btn { background-color: #ffbe00 }

#three-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 200px !important;
    margin-left: 200px !important;
}

#scnd-btn, #thrd-btn, #last-btn {
    margin-top: 5px;
    padding: 20px 30px;
    color: white;
    font-size: 1.5rem;
    font-family: 'Permanent Marker', cursive;
    background-color: orange;
}

#free-rus-les {
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;  
    padding-right: 30px;
}

#free-rus-les p {
    text-align: center;
}

#featured-logos {
    display: flex;
    align-items: center; /*WO THIS, PICTURES VERTICALLY STRETCHED COS THIS IS STRETCH BY DEFAULT*/
    justify-content: center; /*justify-CONTENT & align-ITEMS*/
    margin: auto 0 0 0 !important;
}

#featured-logos h2 {
    opacity: 0.5;
    font-size: .75rem;
    align-self: flex-end;
    padding-bottom: 20px;
}

#featured-logos img {
    height: 10vh;
}

#frst-slide {
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: 25px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

#easyNfun { font-family: 'Roboto', sans-serif; }

#about {
    margin: 0 100px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

#adrianus {
    margin-left: 100px;
    width: 90px;
    height: 90px;
    display: inline-block;
}

#last-btn { margin: 2rem 0 2.5rem 0; }

footer {
    background-color: #0000FF;
    height: 80px;
    line-height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    color: white;
    opacity: 0.8;
    text-align: center;
    justify-self: center;
    margin: 0;
}

.row { margin: 0; }
